language: bash
services: docker

env:
%%TRAVIS_ENV%%

install:
  - git clone https://github.com/docker-library/official-images.git ~/official-images

before_script:
  - image="postgis:${SUBDIR/\//_}"

script:
  - travis_retry docker build -t "$image" -f "$SUBDIR"/Dockerfile .
  - ~/official-images/test/run.sh -c ~/official-images/test/config.sh -c tests-config.sh "$image"

after_script:
  - docker images
